html {
  font-size: 62.5%;
}
body {
  background-color: #f5f5f5; /* Gives the body a background colour of #f5f5f5. */
  margin: 0; /* Removes the default margin from the body. */
  font-family:
    Georgia, "Times New Roman", serif; /* Sets the font family for the body to Georgia,  */
  font-size: 1.6rem; /* Sets the font size for the body to 1.6rem. */
}

#treaty-logo {
  display: inline-block; /* Displays the treaty logo as an inline block element, allowing it to be styled and positioned. */
  justify-content: center; /* Places content in the center. */
  padding: 20px; /* Adds padding around the treaty logo. */
  background-color: #1f3a5f; /* Sets the background color of the treaty logo to #82d3d7. */
  border-radius: 100px; /* Rounds the corners of the treaty logo with a radius of 100 pixels, giving it a circular appearance. */

  margin-bottom: 30px; /* Adds a margin space of 30 pixels at the bottom of the treaty logo. */
  align-items: center; /* Aligns items in the center of the treaty logo. */
}

h1 {
  color: #ffffff; /* Sets the text color of h1 headers to #ffffff. */
  text-align: center; /* Aligns the text of h1 headers to the center. */
  background-color: #1f3a5f; /* Sets the background color of h1 headers to #82d3d7. */
  padding: 10px; /* Adds padding around the text of h1 headers. */
  border: 10px solid #3a5477; /* Adds a border around h1 headers with a width of 10 pixels and a color of rgb(175, 240, 253). */
  font-family:
    "Georgia", "Times New Roman", Times, serif; /* Sets the font family for h1 headers to Georgia, with a fallback to serif. */
  border-radius: 20px; /* Rounds the corners of h1 headers with a radius of 40 pixels. */
  font-size: 4rem; /* Sets the font size of h1 headers to 4rem. */
  margin-bottom: 20px; /* Adds a margin space of 20 pixels at the bottom of h1 headers. */
}
h2 {
  text-align: center; /* Aligns the text of h2 headers to the center. */
}
p {
  color: black; /* Sets the text color of paragraphs to black. */
  font-size: 20px; /* Sets the font size of paragraphs to 20 pixels. */
  padding: 10px; /* Adds padding around the text of paragraphs. */
}

.div-paragraphs {
  background-color: #d9e1e8; /* Sets the background color of the div element with the class "div-paragraphs" to #7de4e1. */
  padding: 10px; /* Adds padding around the content of the div element with the class "div-paragraphs". */

  border-radius: 25px; /* Rounds the corners of the div element with the class "div-paragraphs" with a radius of 25 pixels. */
  width: 700px; /* Sets the width of the div element with the class "div-paragraphs" to 700 pixels. */
  position: relative; /* Relates to the positioning of the element to the middle. */
  left: 50%; /* Positions the element away from the left of its container. */
  transform: translateX(
    -50%
  ); /* Transforms the element by translating it horizontally by removing 50% of its own width, making it centered within its container. */
  font-size: 2rem; /* Sets the font size of the div element with the class "div-paragraphs" to 15 pixels. */
  color: #2e2e2e;
  font-family:
    "Georgia", "Times New Roman", Times, serif; /* Sets the font family for the div element with the class "div-paragraphs" to Georgia, with a fallback to serif. */
  line-height: 140%;
}

.nav-links {
  background-color: #1f3a5f; /* Sets the background color of the class of nav links to #69bcc0. */
  padding: 10px; /* Adds padding around the class of nav links. */
  display: flex; /* Transforms the element into a flexible layout system.. */
  justify-content: center; /* Makes the content of the class of nav links to the center. */
  gap: 30px; /* Adds a gap of 30 pixels between the items in the class of nav links horizontally. */
  border: 10px solid #3a5477; /* Adds a border around the class of nav links with a width of 10 pixels and a color of #69bcc0. */
  color: #ffffff; /* Sets the text color of the class of nav links to #191717. */
  font-size: 1.8rem; /* Sets the font size of the class of nav links to 18 pixels. */
  font-family:
    "Georgia", "Times New Roman", Times, serif; /* Sets the font family for the class of nav links to Georgia, with a fallback to serif. */
  list-style: none; /* Removes the default list styling (bullets) from the class of nav links. */
  font-weight: bold; /* Sets the font weight of the class of nav links to bold, making the text appear thicker and bolder. */
  font-style: italic; /* Sets the font style of the class of nav links to italic, making the text appear slanted. */
  border-radius: 20px; /* Rounds the corners of the class of nav links with a radius of 100 pixels, giving it a circular appearance. */
}
nav a {
  color: #ffffff; /* Sets the text color of anchor elements within the nav element to #191717. */
  text-decoration: none; /* Removes the default underline from anchor elements within the nav element. */
  padding: 10px 15px; /* Adds padding around the text of anchor elements within the nav element. 10 pixels for top and bottom, 15 pixels for the sides. */
  border-radius: 15px; /* Rounds the corners of anchor elements within the nav element with a radius of 15 pixels. */
  background-color: #1f3a5f; /* Sets the background color of anchor elements within the nav element to #65baee. */
  transition: background-color 0.3s ease; /* Background colour 
  of the nav links transitions smoothly and easy in 0.3s */
}
nav a:hover {
  background-color: #4fa3a5; /* Changes the background color of anchor elements within the nav element to #65baee when hovered over. */
  color: rgb(
    49,
    58,
    59
  ); /* Changes the text color of anchor elements within the nav element to white when hovered over. */
  transition: ease-in-out 0.3s; /* Transition effect for when the user 
  hovers over the nav links. 0.3 second time rate with an easy transition. */

  padding: 20px 25px; /* Padding of the nav links were hovered. 20 px for top and bottom
  , 25 px for the sides. */
  border-radius: 20px; /* Rounds the corners of the nav links when hovered with a radius of 20 pixels. */
  border: 7px solid rgb(160, 211, 237); /* Adds a border around the nav links when hovered with a width of 7 pixels and a color of rgb(253, 180, 175). */
}
figure {
  text-align: center; /* Aligns the content of figure elements to the center. */
  justify-content: center; /* Justifies the content of figure elements to the center. */
  width: auto; /* Sets the width of figure elements to auto, allowing them to adjust based on their content. */
}

figcaption {
  margin-top: 8px; /* Adds a margin space of 8 pixels at the top of figcaption elements, creating space between the caption and the image. */
  font-size: 1.5rem; /* Sets the font size of figcaption elements to 15 pixels, making the caption text smaller than the main content. */
  font-style: italic; /* Sets the font style of figcaption elements to italic, making the caption text appear slanted. */
  font-weight: bold; /* Sets the font weight of figcaption elements to bold, making the caption text appear thicker and bolder. */
  color: #444; /* Sets the text color of figcaption elements to #444, giving it a dark gray color that contrasts with the background. */
}

footer {
  color: #f5f5f5; /* Sets the text color of the footer to white. */
  text-align: center; /* Aligns the text of the footer to the center. */
  background-color: #1f3a5f; /* Sets the background color of the footer to rgb(236, 96, 84). */
  font-style: italic; /* Sets the font style of the footer to italic. */
  font-weight: bold; /* Sets the font weight of the footer to bold. */
  border: 10px solid #3a5477; /* Adds a border around the footer with a width of 10 pixels and a color of #e99191. */
  border-radius: 30px; /* Rounds the corners of the footer with a radius of 30 pixels. */

  font-size: 2rem; /* Sets the font size of paragraphs to 20 pixels. */
  padding: 10px;
}

#treaty-map {
  display: flex; /* Displays the treaty map as a flexible container, allowing for flexible layout and alignment of its content. */
  justify-content: center; /* Makes the content of the treaty map to the center, aligning it horizontally within its container. */
  background-color: #1f3a5f; /* Sets the background color of the treaty map to #7de4e1. */
  border: 10px solid #3a5477; /* Adds a border around the treaty map with a width of 10 pixels and a color of rgb(175, 240, 253). */
  border-radius: 25px; /* Rounds the corners of the treaty map with a radius of 25 pixels. */
  padding: 20px; /* Adds padding around the content of the treaty map. */
  left: 50%; /* Positions the treaty map at the center of its container horizontally by moving it from the left by 50 percent.. */
  transform: translateX(
    -50%
  ); /* Adjusts the position of the treaty map to ensure it is centered by removing 50 percent from the left. */
  width: 600px; /* Sets the width of the treaty map to 600 pixels. */
  position: relative; /* The treaty map image is positioned relative to its normal position in the document flow. */
}

#treaty-medal-image {
  display: flex; /* Displays the treaty medal image as flexible container. */
  justify-content: center; /*Makes the content of the treaty map to the center, aligning it horizontally within its container.  */
  background-color: #1f3a5f; /* Changes background colour to #1f3a5f. */
  border: 10px solid #3a5477; /* Adds a border with a width of 10px and colour of what the colour is. */
  border-radius: 25px; /* Rounds the corners of the treaty map with a radius of 25 pixels. */
  padding: 20px; /* Adds space around the treaty medal image. */
  left: 50%; /* Positions the treaty medal at the center of its container horizontally by moving it from the left by 50 percent.. */
  transform: translateX(
    -50%
  ); /*Adjusts the position of the treaty map to ensure it is centered by removing 50 percent from the left. */
  width: 500px; /* Makes the width of the image 500px. */
  position: relative; /* The treaty medal image is positioned relative to its normal position in the document flow. */
}
span.headings {
  background-color: #3e8e90; /* Background color of the span elements, which are used to style the h2 headers. */
  color: #ffffff;
  text-align: center; /* Aligns the text in the center of the span elements. */
  padding: 10px 15px; /* Adds space around the sides of the span elements. 10 px for top and bottom, 15 px for the sides. */
  border-radius: 15px; /* Rounds the corners of the span elements with a radius of 15 pixels. */
  font-family: serif; /* Sets the font family for the span elements to serif. */
  font-size: 2.5rem; /* Sets the font size for the span elements to 25 pixels. */
  font-weight: bold; /* Makes the text in the span elements bold. */
  border: 5px solid #d3d3d3; /* Adds a border around the span elements with a width of 10 pixels and a color of #e99191. */
}
