body {
  background-color: #e4f9fa;
  margin: 0;
  font-family: Arial, sans-serif;
}

div#treaty-logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.treaty-one-logo {
  height: 60px;
  gap: 60px;
}
h1 {
  color: #191717;
  text-align: center;
  background-color: #82d3d7;
  padding: 10px;
  border: 10px solid rgb(175, 240, 253);
  font-family: "Georgia", serif;
  border-radius: 40px;
}
h2 {
  text-align: center;
}
p {
  color: black;
  font-size: 20px;
  padding: 10px;
}

.div-one {
  background-color: #7de4e1;
  padding: 10px;
  border: 10px solid rgb(175, 240, 253);
  border-radius: 25px;
}

#div-two {
  background-color: #e0ffff;
  padding: 10px;
}
.nav-links {
  background-color: #69bcc0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border: 10px solid #69bcc0;
  color: #191717;
  font-size: 18px;
  font-family: "Georgia", serif;
  list-style: none;
  font-weight: bold;
  font-style: italic;
  border-radius: 100px;
}
nav a {
  color: #191717;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #65baee;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #5ccbd0;
  color: white;
  transition: ease-in-out 0.3s;
  padding: 20px 25px;
  border-radius: 20px;
}
figure {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
figcaption {
  text-align: center;
  font-style: italic;
  color: #191717;
  font-size: 14px;
  margin-top: 5px;
}
footer {
  text-align: center;
  background-color: aliceblue;
}
.div-images {
  padding: 10px;
  border-radius: 15px;
}
span {
  color: #191717;
  font-weight: bold;
  background-color: #7cc4ee;
}
footer {
  text-align: center;
  background-color: rgb(198, 213, 226);
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}
#gradient-box {
  background: linear-gradient(135deg, #69bcc0, #d8d8d8);
}
