body {
  background-color: whitesmoke;
}
h1 {
  color: #191717;
  text-align: center;
  background-color: #d8d8d8;
}
p {
  color: black;
  font-size: 20px;
  padding: 10px;
}

#div-one {
  background-color: #d8d8d8;
  padding: 10px;
  border: 10px solid rgb(137, 132, 132);
}

#div-two {
  background-color: #e0ffff;
  padding: 10px;
}
.nav-links {
  background-color: #d8d8d8;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border: 10px solid #191717;
  color: #191717;
  font-size: 18px;
  font-family: "Georgia", serif;
}
